<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: darkblue">IceCold</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-coffee" aria-controls="#navbar-coffee" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-coffee">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#features" style="color: darkblue"><strong>About</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#carousel" style="color: darkblue"><strong>Gallery</strong></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#videos" style="color: darkblue"><strong>Video</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cta" style="color:darkblue"><strong>App</strong></a>
                </li>
            </ul>
        </div>
    </div>

</nav>
