<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Ice Cold</title>
    <head th:include="partials/partials :: head"></head>
</head>
<body>
<h1>About Ice</h1>

<!-- Features -->

<section class="white-section" id="features">
    <div class="container-fluid">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="fa-solid fa-snowflake icon"></i>
                <h3>Subtitle 1</h3>
                <p> content</p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="fa-solid fa-video icon"></i>
                <h3>Subtitle 2</h3>
                <p>content</p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="fa-solid fa-photo-film icon"></i>
                <h3>Subtitle 3</h3>
                <p>content </p>
            </div>
        </div>
    </div>

</section>




</body>
</html>